
.navbar__gray {
    background: #C4C4C4 !important;
}

.bg__gray{
    background: #C4C4C4 !important;
}

.nav-link {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #000000 !important;
}
.navbar-toggler{
    background-color: #777777;
}

