
.footer__rnp{
  margin-top: 5% !important;
  background-color: #c4c4c4;
  padding: 15px;
  margin-bottom: -5% !important;
}
.footer__text > p{
  text-align: center;
  color: #000000;
}

@media (max-width: 575.98px) { 
  .footer__rnp {
    margin-top: 15% !important;
    background-color: #c4c4c4;
    padding: 15px;
    margin-bottom: -15% !important;
}
}